# Responsables generales de revisión.
* @DeckNG31 @MatMa4 @SSANTTI17 @NicxPrrn

# Estas reglas reemplazan la asignación general para cada ruta.
/backend/ @DeckNG31 @MatMa4
/frontend/ @NicxPrrn @SSANTTI17
